<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Nota10_Teste</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletCadastrarUsuario</servlet-name>
    <servlet-class>mvc.br.com.controle.ServletCadastrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadastrarUsuario</servlet-name>
    <url-pattern>/cadastrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConsultaUsuario</servlet-name>
    <servlet-class>mvc.br.com.controle.ServletConsultaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultaUsuario</servlet-name>
    <url-pattern>/consultaUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAlterarUsuario</servlet-name>
    <servlet-class>mvc.br.com.controle.ServletAlterarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlterarUsuario</servlet-name>
    <url-pattern>/alterarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletExcluirUsuario</servlet-name>
    <servlet-class>mvc.br.com.controle.ServletExcluirUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletExcluirUsuario</servlet-name>
    <url-pattern>/excluirUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>mvc.br.com.controle.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/erro404</location>
  </error-page>
</web-app>